.mmmm {
    background: #fdc740;
}
.panel.panel2 {
    background: #fff;
}
@media only screen and (min-width:320px) and (max-width:480px){
    .desktop-none .toggle i{
        font-size: 30px !important;
    }
    #header{
        height: 130px;
    }
    .login-list{
        position: absolute;
        top: 15px;
        left: 0px;
    }
    .logo {
    padding: 11px 111px 10px !important;
        width: 100%;
}
    #mySidenav .logo{
        padding: 11px 55px 10px !important;
    }
    .search-bar {
    display: inline-block;
    display: inline-block;
    width: 95%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    margin: 0 auto;
    right: 0px;
    }
    .desktop-none .toggle i{
        top:23px !important;
    }
     .product-thumbs-track{
            display: inline-block;
    width: 100%;
    height: auto;
    }
    .product-thumbs .pt {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 4px;
}
    .pt img {
    width: 70px;
    height: 70px;
}
    .address__icon {
    background: #fcad26 none repeat scroll 0 0;
    height: auto;
    line-height: 1;
    text-align: center;
    width: 110px;
    padding: 37px;
}
    .address {
    display: flex;
    margin-bottom: 40px;
}
    .address__details {
    padding: 32.5px 12px 33.5px 20px !important;
}
    .mobileresponsiveform{
        width: 100%
    }
/*    .topoffersection{*/
/*    margin-top: 16px !important;*/
/*}*/
.product-slider .owl-nav button.owl-next, .product-slider .owl-nav button.owl-prev {
    display: none !important;
}
}



@media only screen and (min-width:480px) and (max-width:640px) {
    #header{
        height: 150px !important;
    }
    .login-list {
    top: 60px;
    }
    .desktop-none .toggle i{
        top:23px !important;
    }
    .search-bar {
    display: inline-block;
    width: 95%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    margin: 0 auto;
    right: 0px;
}
    .product-thumbs-track{
            display: inline-block;
    width: 100%;
    height: auto;
    }
    .product-thumbs .pt {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 4px;
}
    .pt img {
    width: 70px;
    height: 70px;
}
    .address__icon {
    background: #fcad26 none repeat scroll 0 0;
    height: auto;
    line-height: 1;
    text-align: center;
    width: 110px;
    padding: 37px;
}
    .address {
    display: flex;
    margin-bottom: 40px;
}
    .address__details {
    padding: 32.5px 12px 33.5px 20px !important;
}
    .mobileresponsiveform{
        width: 100%
    }
/*    .topoffersection{*/
/*    margin-top: 16px !important;*/
/*}*/
.product-slider .owl-nav button.owl-next, .product-slider .owl-nav button.owl-prev {
    display: none !important;
}
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .address__icon {
    background: #fcad26 none repeat scroll 0 0;
    height: auto;
    line-height: 1;
    text-align: center;
    width: 110px;
    padding: 37px;
}
    .address {
    display: flex;
    margin-bottom: 40px;
}
    .address__details {
    padding: 32.5px 12px 33.5px 20px !important;
}
    .login-list{
        top:62px;
    }
    .mobile-none{
    background: #000;
    height: auto;
    max-height: 100%;
    z-index: 1;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    }
    .mobileresponsive{
        width: 100%;
        float: left;
    }
    .contactmap{
        width: 100% !important;
    max-width: 100%;
    flex: 0 0 100%;
    }
    .contactadd{
        
        width: 100% !important;
    max-width: 100%;
    flex: 0 0 100%;
        margin-top: 30px;
        
    }
    .product-slider .owl-nav button.owl-next, .product-slider .owl-nav button.owl-prev {
    display: none !important;
}
}


.topoffersection{
        padding: 3px 5px 3px 5px;
    width: 100%;
    float: left;
    background: #e8b135;
    
}
.topoffersection .row{
    
}
.topoffersection marquee{
  
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 24px;
}
.topoffersection marquee span{
    color: #000;
    font-weight: 800;
}
#header2{
    width: 100%;
    float: left;
}
footer{
  width: 100%;
    float: left;
}
section{
    width: 100%;
    float: left;
}
.navigation{
    width: 100%;
    float: left;
}

.main-dv-sec {
    width: 100%;
    float: left;
    margin-top: 20px !important;
    margin: 0px;
}